<!--Navegacion-->
<nav>
  <div>
    <div>
      <img src="./assets/img/logo.png" alt="">
    </div>
    <div>
      <ul>
        <li>
          <a href="" class="active"> Afiliate</a>
        </li>
        <li>
          <a href=""> Lenguaje de señas</a>
        </li>
        <li>
          <a href=""> Dialecto Raramuri</a>
        </li>
      </ul>
    </div>  
  </div>  
</nav>
<!--header-->
<header>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="./assets/img/video.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./assets/img/video.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="./assets/img/video.png" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</header>
<!--Agentes Conectados-->
<section class="agentes-conectados">  
  <div>
    <div class="title">
      <h3>Ejecutivos Conectados</h3>
      <span></span>
    </div>  
    <div class="ejecutivos">
      <div>
        <h4>0</h4>
        <h3>Ejecutivos</h3>
      </div>
      <div>
        <h4>0</h4>
        <h3>Lenguaje de señas</h3>
      </div>
      <div>
        <h4>0</h4>
        <h3>Dialecto Raramuri</h3>
      </div>
    </div>  
  </div>
  
  <div class="verde">
    <img src="./assets/img/verde.png" alt="">
  </div>
  <div class="rojo">
      <img src="./assets/img/rojo.png" alt="">
  </div>
</section>
<!--Afiliaciones-->
<section class="afiliaciones">
  <div>
    <div>
      <h4><i class="fas fa-video"></i></h4>
      <h3>Ejecutivos</h3>
    </div>
    <div>
      <h4><i class="fas fa-american-sign-language-interpreting"></i></h4>
      <h3>Lenguaje de señas</h3>
    </div>
    <div>
        <div id="dialectos" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <h4><i class="fas fa-language"></i></h4>
              <h3>Dialecto Raramuri</h3>
            </div>
            <div class="carousel-item">
              <h4><i class="fas fa-language"></i></h4>  
              <h3>Dialecto Raramuri</h3>
            </div>
            <div class="carousel-item">
              <h4><i class="fas fa-language"></i></h4>  
              <h3>Dialecto Raramuri</h3>
            </div>
          </div>
          <a class="carousel-control-prev" href="#dialectos" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#dialectos" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>      
    </div>
  </div>
</section>
<!--info-->
<section class="info">
  <div>
    <div class="marcas">
      <div>
        <img src="./assets/img/patrocinio/1.png" alt="">
      </div>
      <div>
        <img src="./assets/img/patrocinio/2.png" alt="">
      </div>
      <div>
        <img src="./assets/img/patrocinio/3.png" alt="">
      </div>
    </div>
    <div class="mensaje">
      <h4>
        Reporta un Problema
      </h4>
      <h5>¿Ocurrió algún problema?¿Necesitas ponerte en contacto con nosotros?</h5>      
    </div>
    <div class="contacto">
      <div>
        <i class="fa fa-phone fa-2x mb-2 sr-contact"></i><span>+56-555-55-55</span>
      </div>
      <div>
        <i class="fa fa-envelope-o fa-2x mb-2 sr-contact"></i><span>dbrito@3dlinkweb.com.ve</span>
      </div>
    </div>
  </div>
</section>
<!--footer-->
<footer>
  <div>
    <div>
      <div>www.pagina.com</div>
      <div>+56-555-55-55</div>
    </div>
    <div>
      <div>
        <a>Ejecutivos</a>
      </div>
      <div>
        <a>Lenguaje de señas</a>
      </div>
      <div>
        <a>Dialecto Raramuri</a>
      </div>
    </div>
    <div>
      <div>/lorem</div>
      <div>lorem</div>
      <div>
        <i class="fab fa-instagram fa-2x mb-2 sr-contact"></i>
        <i class="fab fa-facebook fa-2x mb-2 sr-contact"></i>
      </div>
    </div>
  </div>
</footer>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ingrese CURP</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="text" class="keyboard form-control" id="default">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#myModal2">Afiliarse</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Terminos y Condiciones</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="llamar()">Aceptar</button>
        </div>
      </div>
    </div>
  </div>